<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="Add">Manage Stock Estimation
        </div>
        <div *ngIf="Edit">Edit Stock Estimation
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form #userForm="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label> Select Group</mat-label>
                    <mat-select name="groupId" #groupId="ngModel" [(ngModel)]="selectedStockEstimation.groupId">
                        <mat-option [value]="0">--Please Select--</mat-option>
                        <mat-option *ngFor="let pt of Groups" [value]=" pt.id">
                            {{ pt.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Item</mat-label>
                    <input matInput #item="ngModel" maxlength="200" name="item" [(ngModel)]="selectedStockEstimation.item" />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label>Order #</mat-label>
                    <input matInput #orderNo="ngModel" name="orderNo" type="number" min="0" required="true"
                        oninput="validity.valid||(value='')" [(ngModel)]="selectedStockEstimation.orderNo" />
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label> Date</mat-label>
                    <input matInput [matDatepicker]="pickerFrom" name="date" #date="ngModel"
                        [(ngModel)]="selectedStockEstimation.date" />
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom [enableMeridian]="true"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end end">
                <c-spinner *ngIf="proccessing" style="height: 50px;width: 50px;color: rgb(3, 71, 102);"></c-spinner>
                <div style="margin-top: 10px;" *ngIf="!proccessing">
                    <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveStockEstimation();">
                        Save
                    </button>
                    <button *ngIf="Edit" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="UpdateStockEstimation()">
                        Update
                    </button>
                </div>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="ngOnInit()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <!-- <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <h5 cCardTitle>StockEstimation List</h5>
            <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Printer">
                                <th mat-header-cell *matHeaderCellDef> Printer </th>
                                <td mat-cell *matCellDef="let element"> {{element.printer}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Type">
                                <th mat-header-cell *matHeaderCellDef> Printer Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Terminal">
                                <th mat-header-cell *matHeaderCellDef>Terminal</th>
                                <td mat-cell *matCellDef="let element"> {{element.terminal}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions" stickyEnd="true">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                    <p style="font-size: 14px;">Actions</p>
                                </th>
                                <td mat-cell *matCellDef="let row" style="text-align: center;">
                                    <div>
                                        <button mat-icon-button mat-sm-button style=" color:#1e293b ; "
                                            cTooltip=" Edit StockEstimation"
                                            (click)="GetStockEstimationForEdit(row.id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button mat-icon-button mat-sm-button color="warn"
                                            cTooltip="Delete StockEstimation"
                                            (click)="DeleteStockEstimation(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card> -->
    </div>
</div>