<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2">RFQ List</div>
  <div class="page_content shadow p-3 position-relative">
    <div class="pull-right" style="text-align:end; margin-top: 20px;">
      <button mat-raised-button style="background-color: rgb(2, 57, 102); color: white; "
        [routerLink]="['/inventory/RFQ']">Add New</button>
    </div>
    <c-card style="padding: 10px; margin-top: 30px" class="mat-elevation-z8">
      <c-card-body style="
            padding: 10px;
            background-image: linear-gradient(
              to bottom,
              rgb(2, 33, 58),
              rgb(7, 95, 122)
            );
            margin: 5px;
            border-radius: 10px;
          ">
        <div class="example-table-container">
          <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px; width: 100%">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
              <!-- Expand Column -->
              <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                  <div>&nbsp;</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>
                    <button mat-icon-button aria-label="Expand row" (click)="
                    expandedElement =
                      expandedElement === element ? null : element;
                    $event.stopPropagation();
                    highlight(element)
                  ">
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <!-- Data Columns -->
              
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>
                  <div>Title</div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <div>{{ element.title }}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="requestNoteNo">
                <th mat-header-cell *matHeaderCellDef>
                  <div>RN No</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{ element.requestNoteNo }}</div>
                  </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                  </ng-container>
              <ng-container matColumnDef="rfqValidity">
                <th mat-header-cell *matHeaderCellDef>
                  <div>RFQ Validity</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                  <div>{{ element.rfqValidity | date : "dd/MM/yyyy" }}</div>
                  </td>
                  </ng-container>
                  <ng-container matColumnDef="deliveryDate">
                    <th mat-header-cell *matHeaderCellDef>
                  <div>Delivery Date</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{ element.deliveryDate | date : "dd/MM/yyyy" }}</div>
                  </td>
                  </ng-container>
              <ng-container matColumnDef="isReference">
                <th mat-header-cell *matHeaderCellDef>
                  <div>Is Reference</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                  <div>{{ element.isReference }}</div>
                  </td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.description }}
                    </td>
                  </ng-container>


              <!-- Actions Column -->
              <ng-container matColumnDef="Action" stickyEnd="true">
                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center">Actions</th>
                <td mat-cell *matCellDef="let row">
                  <div style="width: 100px; text-align: center">
                    <button mat-icon-button color="primary" (click)="EditRFQ(row)" matTooltip="Edit" aria-label="Edit">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="waRFQ" (click)="DeleteRFQ(row.id)" matTooltip="Delete" aria-label="Delete">
                      <mat-icon>delete</mat-icon>
                    </button>
                    </div>
                    </td>
                    </ng-container>

              <!-- Expanded Detail Column -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                  <div class="example-element-detail" *ngIf="element.rfqLines" style="width: 100%; border-radius: 30px"
                    [@detailExpand]="
                    element === expandedElement ? 'expanded' : 'collapsed'
                  ">
                    <div *ngIf="expandedElement">
                      <section class="example-container mat-elevation-z8" tabindex="0" style="
                    margin: 50px;
                    border-radius: 30px;
                    max-width: 100%;
                  ">
                        <table #innerTables mat-table [dataSource]="element.rfqLines" class="mat-elevation-z8">
                          <!-- Inner Table Columns -->
                          <ng-container matColumnDef="item">
                            <th mat-header-cell *matHeaderCellDef>
                              <div style="width: 200px">Item</div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div style="width: 200px">{{ element.item }}</div>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>
                              <div style="width: 200px">Type</div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div style="width: 200px">{{ element.type }}</div>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="group">
                            <th mat-header-cell *matHeaderCellDef>
                              <div style="width: 200px">Group</div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <div style="width: 200px">
                                {{ element.group }}
                              </div>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef>
                              <div style="width: 200px">Category</div>
                              </th>
                              <td mat-cell *matCellDef="let element">
                                <div style="width: 200px">
                                {{ element.category }}
                                </div>
                                </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns"></tr>
                                </table>
                                </section>
                                </div>
                                </div>
                                </td>
                                </ng-container>

              <!-- Main Table Rows -->
              <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
              </table>
              </section>
              </div>
              </c-card-body>
    </c-card>
  </div>
</div>