<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
            <div>Fiscal Years
            </div>
            <div fxFlex="7%">
                <button mat-icon-button fxLayoutAlign="end end" (click)="dialogRefe.close()" style="color: white">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form name="FiscalYear" #FiscalYearForm="ngForm">
            <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-radio-group name="id" fxFlex="48%" appearance="outline" [(ngModel)]="selectedYear.id"
                        #id="ngModel">
                        <mat-label> <h5> Select Fiscal Year</h5></mat-label>
                        <!-- <mat-label><bold>
                            Select Fiscal Year
                        </bold></mat-label> -->
                        <mat-radio-button style="  display: block;    margin-bottom: 10px;"
                            *ngFor="let val of FiscalYears" [value]="val.id">{{ val.yearCode }}<b>({{ val.yearDesc}})
                            </b></mat-radio-button>
                    </mat-radio-group>
                    <div fxLayoutAlign="end end" fxFlex="50%">
                        <div style="margin-top: 10px;">
                            <button type="submit" class="bttn" (click)="submit()">
                                Save
                            </button>
                        </div>
                        <div style="margin-top: 10px;">
                            <button class="darkBttn" type="submit" (click)="dialogRefe.close()">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>