<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="Add">Manage KitchenIssuance
        </div>
        <div *ngIf="Edit">Edit KitchenIssuance
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label> Select Branch</mat-label>
                    <mat-select matNativeControl name="branchId" [(ngModel)]="selectedKitIssuance.branchId">
                        <mat-option [value]="0">--Please Select--</mat-option>
                        <mat-option *ngFor="let val of Branches" [value]="val.id">
                            {{val.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="48%">
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label> Select Store</mat-label>
                        <mat-select matNativeControl name="storeId" [(ngModel)]="selectedKitIssuance.storeId">
                            <mat-option [value]="0">--Please Select--</mat-option>
                            <mat-option *ngFor="let val of Stores" [value]="val.id">
                                {{val.storeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label> Select Kitchen </mat-label>
                        <mat-select matNativeControl name="kitchenId" [(ngModel)]="selectedKitIssuance.kitchenId">
                            <mat-option [value]="0">--Please Select--</mat-option>
                            <mat-option *ngFor="let val of Kitchen" [value]="val.id">
                                {{val.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label> Date</mat-label>
                    <input matInput [matDatepicker]="pickerFrom" name="date" [(ngModel)]="selectedKitIssuance.date" />
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom [enableMeridian]="true"></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label>Key Word</mat-label>
                    <input matInput name="keyWord" maxlength="200" [(ngModel)]="selectedKitIssuance.keyWord" />
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end end">
                <c-spinner *ngIf="proccessing" style="height: 50px;width: 50px;color: rgb(3, 71, 102);"></c-spinner>
                <div style="margin-top: 10px;" *ngIf="!proccessing">
                    <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveKitchenIssuance()">
                        Save
                    </button>
                    <button *ngIf="Edit" cButton class="me-1" (click)="UpdateKitchenIssuance()"
                        style="background-color:#1e293b ;" type="submit">
                        Update
                    </button>
                </div>
                <div *ngIf="!proccessing">
                    <button mat-icon-button mat-sm-button color="primary" (click)="ngOnInit()" cTooltip="Refresh"
                        cTooltipPlacement="top">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <!-- <h5 cCardTitle>Branch List</h5> -->
            <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="branch">
                                <th mat-header-cell *matHeaderCellDef> Branch Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
                            </ng-container>
                            <ng-container matColumnDef="strore">
                                <th mat-header-cell *matHeaderCellDef> Store Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.store}} </td>
                            </ng-container>
                            <ng-container matColumnDef="kitchen">
                                <th mat-header-cell *matHeaderCellDef> Kitchen Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.kitchen}} </td>
                            </ng-container>
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date</th>
                                <td mat-cell *matCellDef="let element"> {{element.date|date:'yyyy-MM-dd'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="keyWord">
                                <th mat-header-cell *matHeaderCellDef> Key Word</th>
                                <td mat-cell *matCellDef="let element"> {{element.keyWord}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions" stickyEnd="true">
                                <th mat-header-cell *matHeaderCellDef>
                                    <p style="font-size: 14px;text-align: center;">Actions</p>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="text-align: center;">
                                        <button mat-icon-button mat-sm-button style=" color:#1e293b ; "
                                            (click)="editKI(row)" cTooltip=" Edit Branch">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button mat-icon-button mat-sm-button color="warn" (click)="deleteKI(row)"
                                            cTooltip="Delete Branch">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>