<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="Add">Manage Issue Stock
        </div>
        <div *ngIf="Edit">Edit Issue Stock
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form #userForm="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="30%" appearance="outline">
                  <mat-label>Issuing Branch</mat-label>
                  <mat-select disableRipple name="issuingBranchId" [(ngModel)]="selectedIssStock.issuingBranchId">
                    <mat-option [value]="0">--Please Select--</mat-option>
                    <mat-option *ngFor="let val of Branches" [value]="val.id">
                      {{ val.name}}
                  </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="30%" appearance="outline">
                    <mat-label>Receiving Branch</mat-label>
                    <mat-select name="receivingBranchId" [(ngModel)]="selectedIssStock.receivingBranchId">
                      <mat-option [value]="0">--Please Select--</mat-option>
                      <mat-option *ngFor="let val of Branches" [value]="val.id">
                        {{ val.name}}
                    </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field fxFlex="30%" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select name="categoryId" [(ngModel)]="selectedIssStock.categoryId">
                      <mat-option [value]="0">--Please Select--</mat-option>
                      <mat-option *ngFor="let val of Category" [value]="val.id">
                        {{ val.name}}
                    </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <mat-form-field fxFlex="30%" appearance="outline">
                <mat-label> Date</mat-label>
                <input matInput [matDatepicker]="pickerFrom" name="issueDate" [(ngModel)]="selectedIssStock.issueDate" />
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom [enableMeridian]="true"></mat-datepicker>
            </mat-form-field>
                  <mat-form-field fxFlex="30%" appearance="outline">
                    <mat-label>Keyword</mat-label>
                    <input matInput name="keyword" maxlength="45" [(ngModel)]="selectedIssStock.keyword">
                  </mat-form-field>
                  <mat-form-field fxFlex="30%" appearance="outline">
                    <mat-label>Filters</mat-label>
                    <mat-select>
                      <mat-option value="1">Start With</mat-option>
                      <mat-option value="2">End With</mat-option>
                      <mat-option value="3">Anywhere</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div fxLayoutAlign="end end">
              <c-spinner *ngIf="proccessing" style="height: 50px;width: 50px;color: rgb(3, 71, 102);"></c-spinner>
              <div style="margin-top: 10px;" *ngIf="!proccessing">
                  <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                  (click)="SaveIssueStock();" >
                      Save
                  </button>
                  <button *ngIf="Edit" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                  (click)="UpdateIssueStock();">
                  Update
              </button>
              </div>
              <div *ngIf="!proccessing">
                <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                    (click)="ngOnInit()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </div>
            </div>
            
        </form>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
          <h5 cCardTitle>IssueStock List</h5>
          <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
            <div class="example-table-container">
              <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                  <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef> Sr No </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="issuingBranch">
                    <th mat-header-cell *matHeaderCellDef> IssuingBranch Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.issuingBranch}} </td>
                  </ng-container>
                  <ng-container matColumnDef="receivingBranch">
                    <th mat-header-cell *matHeaderCellDef> ReceivingBranch Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.receivingBranch}} </td>
                  </ng-container>
                  <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                  </ng-container>
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.issueDate|date:'yyyy-MM-dd'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="keyword">
                    <th mat-header-cell *matHeaderCellDef> Keyword </th>
                    <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" stickyEnd="true">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                      <p style="font-size: 18px;">Actions</p>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <div>
                        <button mat-icon-button mat-sm-button style=" color:#1e293b  ; " cTooltip=" Edit" (click)="EditIssueStock(row)"
                          >
                          <mat-icon>edit</mat-icon>
                        </button>
    
                        <button mat-icon-button mat-sm-button color="warn" cTooltip="Delete" (click)="DeleteIssueStock(row)"
                         >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </section>
            </div>
          </c-card-body>
        </c-card>
    </div>

