<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="Add">Manage Supplier
        </div>
        <div *ngIf="Edit">Edit Supplier
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <mat-card style="padding: 10px;">
            <form name="eventForm" #userForm="ngForm">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label>Enter Name</mat-label>
                        <input matInput #name="ngModel" maxlength="100" name="Name" type="text"
                            [(ngModel)]="supplier.name" placeholder="Supplier Name" required>
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline">
                        <mat-label>Enter Email</mat-label>
                        <input matInput #email="ngModel" maxlength="100" name="email" email type="text"
                            [(ngModel)]="supplier.email" placeholder="Supplier Email">
                        <mat-error *ngIf="userForm.controls['email']?.errors?.['email']">
                            Email is not valid.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label>Enter Code</mat-label>
                        <input matInput #code="ngModel" maxlength="500" name="Code" type="text"
                            [(ngModel)]="supplier.code">
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label> Area</mat-label>
                        <input matInput #area="ngModel" maxlength="500" name="area" type="text"
                            [(ngModel)]="supplier.area" placeholder="Supplier Email">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48%" appearance="outline">
                        <mat-label>Enter Phone No</mat-label>
                        <input type="tel" #Phone="ngModel" maxlength="100" matInput placeholder="Phone No" name="phone"
                            [(ngModel)]="supplier.phone" required="true">
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label>Enter Adrress</mat-label>
                        <input matInput #address="ngModel" maxlength="300" name="Address" type="text"
                            [(ngModel)]="supplier.address" placeholder="Address">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48%" appearance="outline">
                        <mat-label>Credit Days</mat-label>
                        <input #creditDays="ngModel" matInput name="creditDays" min="0" type="number"
                            oninput="validity.valid||(value='')" [(ngModel)]="supplier.creditDays">
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label> Select Account</mat-label>
                        <mat-select name="accountId" matNativeControl #accountId="ngModel"
                            [(ngModel)]="supplier.accountId">
                            <mat-option [value]="0">--Please Select--</mat-option>
                            <mat-option *ngFor="let pt of accounts" [value]=" pt.id">
                                {{ pt.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex="48%" appearance="outline">
                        <mat-label>Enter CNIC</mat-label>
                        <input type="text" #CNIC="ngModel" maxlength="20" matInput placeholder="CNIC" name="CNIC"
                            [(ngModel)]="supplier.cnic">
                    </mat-form-field>
                    <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                        <mat-label>Enter City</mat-label>
                        <input matInput #city="ngModel" maxlength="200" name="City" type="text"
                            [(ngModel)]="supplier.city" placeholder="City">
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="end end">
                    <mat-checkbox #isActive="ngModel" name="isActive" [(ngModel)]="supplier.isActive">
                        IsActive
                    </mat-checkbox>
                </div>
                <div fxLayoutAlign="end end">
                    <button [ngClass]="{disabledBtn:isReadOnly}" class="bttn" *ngIf=" !Edit" [disabled]="userForm.invalid"
                        style=" margin-top: 20px;" (click)="SaveSupplier()">Submit </button>
                    <button [ngClass]="{disabledBtn:isReadOnly}" class="bttn" *ngIf="!Add" [disabled]="userForm.invalid"
                        style=" margin-top: 20px;" (click)="SaveSupplier()">Update </button>
                    <button mat-raised-button color="warn" (click)="Back()"
                        style="margin-left: 5px; margin-top: 20x;">Back </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
