<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
    <div *ngIf="Add">Manage Purchase Order
    </div>
    <div *ngIf="Edit">Edit Purchase Order
    </div>
  </div>
  <div class="page_content shadow p-3 position-relative">

    <form #userForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="24%" appearance="outline">
          <mat-label> Date</mat-label>
          <input matInput [matDatepicker]="pickerFrom" required="true" name="poDate" #date="ngModel"
            [(ngModel)]="selectedPurchOrder.poDate" />
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom [enableMeridian]="true"></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>PO No</mat-label>
          <input matInput name="poNo" [(ngModel)]="selectedPurchOrder.poNo">
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>Demand No</mat-label>
          <input matInput name="demandNo" [(ngModel)]="selectedPurchOrder.demandNo">
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>Select Supplier</mat-label>
          <mat-select required="true" #supplierId="ngModel" name="supplierId"
            [(ngModel)]="selectedPurchOrder.supplierId">
            <mat-option [value]="0">--Please Select--</mat-option>
            <mat-option *ngFor="let val of Suppliers" [value]="val.id">
              {{ val.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>Select Branch</mat-label>
          <mat-select required="true" #branchId="ngModel" name="branchId" [(ngModel)]="selectedPurchOrder.branchId">
            <mat-option [value]="0">--Please Select--</mat-option>
            <mat-option *ngFor="let val of Branches" [value]="val.id">
              {{ val.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>Select Item</mat-label>
          <mat-select required="true" #itemId="ngModel" name="itemId" [(ngModel)]="selectedPurchOrder.itemId">
            <mat-option [value]="0">--Please Select--</mat-option>
            <mat-option *ngFor="let val of Items" [value]="val.id">
              {{val.itemName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>Items/Package</mat-label>
          <input matInput name="itemsPerPkg" (input)="Event($event)" required="true"
            [(ngModel)]="selectedPurchOrder.itemsPerPkg">
        </mat-form-field>
        <mat-form-field fxFlex="24%" appearance="outline" class="form-group">
          <mat-label>No Of Packages</mat-label>
          <input matInput name="noOfPkg" [(ngModel)]="selectedPurchOrder.noOfPkg" (input)="Event($event)">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="32%" appearance="outline" class="form-group">
          <mat-label>Total Quantity</mat-label>
          <input matInput name="totalQty" [(ngModel)]="selectedPurchOrder.totalQty">
        </mat-form-field>
        <mat-form-field fxFlex="32%" appearance="outline" class="form-group">
          <mat-label>Price/Packages</mat-label>
          <input matInput name="pricePerPkg" (input)="Event($event)" [(ngModel)]="selectedPurchOrder.pricePerPkg">
        </mat-form-field>
        <mat-form-field fxFlex="32%" appearance="outline" class="form-group">
          <mat-label>Total Amount</mat-label>
          <input matInput name="totalAmount" [(ngModel)]="selectedPurchOrder.totalAmount">
        </mat-form-field>
      </div>
      <p style="font-size:20px; font-weight: bolder; color: #04415e;margin-top: 30px;">Purchase Order Line</p>
      <c-card style=" margin-top: 10px; background:  rgb(209, 238, 243);padding: 20px;" class="mat-elevation-z8">
        <form #PODetailForm="ngForm" (keydown.enter)="$event.preventDefault()">
          <Row>
            <div fxLayout="row" fxFlex="100%">
              <mat-form-field fxFlex="50%" appearance="outline" class="form-group">
                <mat-label>Select Raw Item</mat-label>
                <mat-select required="true" #rawItemId="ngModel" name="rawItemId"
                  [(ngModel)]="selectedPOLine.rawItemId">
                  <mat-option [value]="0">--Please Select--</mat-option>
                  <mat-option *ngFor="let val of Items" [value]="val.id">
                    {{val.itemName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="50%" appearance="outline" class="form-group">
                <mat-label>Package</mat-label>
                <input matInput name="package" maxlength="1000" [(ngModel)]="selectedPOLine.package">
              </mat-form-field>
              <div fxFlex="3%"></div>
              <mat-form-field fxFlex="50%" appearance="outline" class="form-group">
                <mat-label>PackageItems</mat-label>
                <input matInput name="packageItems" [(ngModel)]="selectedPOLine.packageItems">
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group" fxFlex="50%">
                <mat-label>Total Items</mat-label>
                <input matInput #totalItems="ngModel" name="totalItems" type="number" min="0" required="true"
                  oninput="validity.valid||(value='')" [(ngModel)]="selectedPOLine.totalItems" />
              </mat-form-field>
            </div>
          </Row>
          <Row>
            <div fxLayout="row" fxFlex="100%">
              <mat-form-field fxFlex="50%" appearance="outline" class="form-group">
                <mat-label>Price</mat-label>
                <input matInput name="price" type="number" required="true" min="0" oninput="validity.valid||(value='')"
                  step="any" [(ngModel)]="selectedPOLine.price">
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-group" fxFlex="50%">
                <mat-label>Price Per Item</mat-label>
                <input matInput #pricePerItem="ngModel" type="number" min="0" oninput="validity.valid||(value='')"
                  step="any" name="pricePerItem" required="true" [(ngModel)]="selectedPOLine.pricePerItem" />
              </mat-form-field>
              <div fxFlex="3%"></div>
              <mat-form-field appearance="outline" class="form-group" fxFlex="50%">
                <mat-label>Total Amount</mat-label>
                <input matInput #totalAmt="ngModel" type="number" min="0" oninput="validity.valid||(value='')"
                  step="any" name="totalAmount" [(ngModel)]="selectedPOLine.totalAmount" />
              </mat-form-field>
              <mat-form-field fxFlex="50%" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput name="description" maxlength="2000" [(ngModel)]="selectedPOLine.description">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100%">

              <div>
                <button type="submit" mat-icon-button mat-sm-button style="color: rgb(97, 48, 48);"
                  cTooltip="Add to the List" cTooltipPlacement="top" (click)="AddLinetoList()">
                  <mat-icon>add</mat-icon>
                </button>
                <button type="button" mat-icon-button mat-sm-button color="primary" cTooltip="Refresh"
                  cTooltipPlacement="top" (click)="RefreshLine()">
                  <mat-icon>autorenew</mat-icon>
                </button>
              </div>

            </div>
          </Row>
        </form>
      </c-card>
      <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
        <h5 style="font-size:20px;  color: #04415e;margin: 20px;"> Purchase Order Detail </h5>
        <c-card-body
          style="padding: 10px;background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));margin: 5px;border-radius: 10px;">
          <div class="example-table-container">
            <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="rawItemId">
                  <th mat-header-cell *matHeaderCellDef>
                    <div>RawItem</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.rawItemId}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="package">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> Package</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.package}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="packageItems">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> PackageItems</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.packageItems}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="totalItems">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> Total Items</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.totalItems}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> Price</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.price}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="pricePerItem">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> PricePerItem</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.pricePerItem}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> Total Amount </div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.totalAmount}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>
                    <div> Description</div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div>{{element.description}}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions" stickyEnd>
                  <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;">
                    <div style="width: 100px; text-align: center;">Actions</div>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <div style="width: 100px; text-align: center;">
                      <button mat-icon-button mat-sm-button style="color:#1e293b ; " (click)="edit(row)"
                        cTooltip="Edit Settings ">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button mat-sm-button color="warn" cTooltip="Delete Settings "
                        (click)="delete(row)" [disabled]="row.isSystemDefined">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
              </table>
            </section>
          </div>
        </c-card-body>
      </c-card>
      <div fxLayoutAlign="end end">
        <c-spinner *ngIf="proccessing" style="height: 50px;width: 50px;color: rgb(3, 71, 102);"></c-spinner>
        <div style="margin-top: 10px;" *ngIf="!proccessing">
          <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;width: 100px;" type="submit"
            (click)="Submit();">
            Submit
          </button>
          <button *ngIf="Edit" cButton class="me-1" style="background-color:#1e293b ;width: 100px;" type="submit"
            (click)="Submit()">
            Update
          </button>
          <button cButton class="me-1" style="background-color:#7b7c7e ;width: 100px;" (click)="Back()">
            Go Back
          </button>
          <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
            (click)="Refresh()" *ngIf="Add">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>