<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
    <div *ngIf="Add">Manage Discount Keys
    </div>
    <div *ngIf="Edit">Edit Discount Keys
    </div>
  </div>
  <div class="page_content shadow p-3 position-relative">
    <form #userForm="ngForm" [validated]="validFields" novalidate cForm>
      <c-row>
        <c-col [xs]>
          <div [cFormFloating]="true">
            <input cFormControl required id="floatingInput" placeholder="Discount Key" #DiscountKey="ngModel"
              name="discountKey" maxlength="45" [(ngModel)]="selectedDiscountKey.discountKey" />
            <label cLabel for="floatingInput">Enter Discount Key</label>
            <c-form-feedback [valid]="false">Please provide Discount Key.</c-form-feedback>
          </div>
        </c-col>
        <c-col [xs]>
          <div [cFormFloating]="true">
            <input cFormControl required id="floatingInput" placeholder="Discount Value" type="number" suffix="%"
              #Value="ngModel" name="value" type="number" min="1" oninput="validity.valid||(value='')" step="any"
              [(ngModel)]="selectedDiscountKey.value" />
            <label cLabel for="floatingInput"> Discount in Percentage </label>
            <c-form-feedback [valid]="false">Please provide Discount Value.</c-form-feedback>
          </div>
        </c-col>
      </c-row>
      <c-row>
        <c-col [xs]>
          <div [cFormFloating]="true">
            <input cFormControl required id="floatingInput" placeholder="Discount Limit" #discLimit="ngModel"
              name="discLimit" [(ngModel)]="selectedDiscountKey.discLimit" />
            <label cLabel for="floatingInput">Enter Discount Limit</label>
            <c-form-feedback [valid]="false">Please provide Discount Limit.</c-form-feedback>
          </div>
        </c-col>
        <c-col [xs] fxLayoutAlign="end end">
          <mat-checkbox #isActive="ngModel" name="isActive" [(ngModel)]="selectedDiscountKey.isActive">
            IsActive
          </mat-checkbox>
        </c-col>
      </c-row>
      <c-col [xs]>
        <div class="pull-right" style="text-align:end; margin-top: 20px; ">
          <div style="margin-top: 10px;">
            <button *ngIf="Add" size="sm" [ngClass]="{disabledBtn:isReadOnly}" class="bttn" type="submit"
              (click)="SaveDiscountKey();">
              Save
            </button>
            <button *ngIf="Edit" size="sm" [ngClass]="{disabledBtn:isReadOnly}" class="bttn" type="submit"
              (click)="UpdateDiscountKey()">
              Update
            </button>
          </div>
          <div>
            <button mat-icon-button mat-sm-button color="primary" cTooltip="Go Back " cTooltipPlacement="right"
              *ngIf="Edit" (click)="Refresh()">
              <mat-icon>autorenew</mat-icon>
            </button>
          </div>
        </div>
      </c-col>
    </form>
    <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
      <h5 cCardTitle>Discount Keys </h5>
      <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
        <div class="example-table-container">
          <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="discountKey">
                <th mat-header-cell *matHeaderCellDef> Key </th>
                <td mat-cell *matCellDef="let element"> {{element.discountKey}} </td>
              </ng-container>
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> Is Active </th>
                <td mat-cell *matCellDef="let element"> {{element.isActive?'Yes':'No'}} </td>
              </ng-container>
              <ng-container matColumnDef="discLimit">
                <th mat-header-cell *matHeaderCellDef> Discount Limit </th>
                <td mat-cell *matCellDef="let element"> {{element.discLimit}} </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Discount Value </th>
                <td mat-cell *matCellDef="let element"> {{element.value}} </td>
              </ng-container>
              <ng-container matColumnDef="actions" stickyEnd="true">
                <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center;">
                  <p>Action</p>
                </th>
                <td mat-cell *matCellDef="let row" style="width: 20%;text-align: center;">
                  <div [ngClass]="{disabledDiv:isReadOnly}">
                    <button mat-icon-button mat-sm-button style="color:#1e293b ; " cTooltip="Edit Discount Key"
                      (click)="GetDiscountKeyForEdit(row.id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <!-- <button mat-icon-button mat-sm-button color="warn" cTooltip="Delete Discount Key"
                      (click)="DeleteDiscountKey(row.id)">
                      <mat-icon>delete</mat-icon>
                    </button> -->
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </section>
        </div>
      </c-card-body>
    </c-card>
  </div>
</div>