<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2">Purchase Return List</div>
    <div class="page_content shadow p-3 position-relative">
        <div class="pull-right" style="text-align:end; margin-top: 20px;">
            <button mat-raised-button style="background-color: rgb(2, 57, 102); color: white; "
                [routerLink]="['/inventory/purchaseReturn']">Add New</button>
        </div>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <c-card-body
                style="padding: 10px;background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0"
                        style="border-radius: 5px; width: 100%;">
                        <table id="myTable" mat-table [dataSource]="dataSource" multiTemplateDataRows
                            class="mat-elevation-z8">
                            <ng-container matColumnDef="expand">
                                <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                                    <div>&nbsp;</div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div>
                                        <button mat-icon-button aria-label="expand row"
                                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation();highlight(element)">
                                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="invNo">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div> Inv No </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div> {{element.invoiceNo}}</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="branch">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div> Branch </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div> {{element.branch}}</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="returnDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div>Return Date</div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div> {{element.returnDate|date:"dd/MM/yyyy"}}</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="supplier">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div> Supplier </div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{element.supplier}}</div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Action" stickyEnd="true">
                                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;  ">
                                    Actions
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: 100px;text-align: center;">
                                        <button mat-icon-button mat-sm-button color="primary"
                                            (click)="EditPurchaseReturn(row)" matTooltip="Edit"
                                            style="cursor: pointer;">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button mat-sm-button color="warn" matTooltip="Delete"
                                            (click)="DeletePurchaseReturn(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element"
                                    [attr.colspan]="columnsToDisplayWithExpand.length">
                                    <div class="example-element-detail" *ngIf="element.prLines"
                                        style="width: 100%;border-radius: 30px;"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <div *ngIf="expandedElement">
                                            <section class="example-container mat-elevation-z8" tabindex="0"
                                                style="margin: 50px;border-radius: 30px;max-width: 47%;">
                                                <table #innerTables mat-table [dataSource]="element.prLines"
                                                    class="mat-elevation-z8">
                                                    <ng-container matColumnDef="item">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;">Item</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.item}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="uom">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;"> UOM</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.uom}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="pricePerItem">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;"> Price Per Item</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.pricePerItem}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="totalItems">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;">Total Items</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.totalItems}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="totalAmt">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;">Total Amount</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.totalAmt}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="returnQty">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;">Return Qty</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">{{element.returnQty}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="date">
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            <div style="width: 200px;">Date</div>
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div style="width: 200px;">
                                                                {{element.date|date:"dd/MM/yyyy"}}</div>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;">
                                                    </tr>
                                                </table>
                                            </section>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                            <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                                class="example-element-row" [class.example-expanded-row]="expandedElement === element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                            </tr>
                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>
